<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ValidaUsuario</servlet-name>
        <servlet-class>t_servlets.ValidaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaEmpleado</servlet-name>
        <servlet-class>t_servlets.AltaEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTienda</servlet-name>
        <servlet-class>t_servlets.AltaTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AltaTicket</servlet-name>
        <servlet-class>t_servlets.AltaTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaTienda</servlet-name>
        <servlet-class>t_servlets.ValidaTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTicketNOA</servlet-name>
        <servlet-class>t_servlets.ListaTicketNOA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetalleTK</servlet-name>
        <servlet-class>t_servlets.DetalleTK</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EscalaTicket</servlet-name>
        <servlet-class>t_servlets.EscalaTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CierraTicket</servlet-name>
        <servlet-class>t_servlets.CierraTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTKTipoIncidencia</servlet-name>
        <servlet-class>t_servlets.ListaTKTipoIncidencia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaTotalTicket</servlet-name>
        <servlet-class>t_servlets.ListaTotalTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportarTickets</servlet-name>
        <servlet-class>t_servlets.ExportarTickets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidaUsuario</servlet-name>
        <url-pattern>/ValidaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaEmpleado</servlet-name>
        <url-pattern>/AltaEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTienda</servlet-name>
        <url-pattern>/AltaTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AltaTicket</servlet-name>
        <url-pattern>/AltaTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaTienda</servlet-name>
        <url-pattern>/ValidaTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTicketNOA</servlet-name>
        <url-pattern>/ListaTicketNOA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetalleTK</servlet-name>
        <url-pattern>/DetalleTK</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscalaTicket</servlet-name>
        <url-pattern>/EscalaTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CierraTicket</servlet-name>
        <url-pattern>/CierraTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTKTipoIncidencia</servlet-name>
        <url-pattern>/ListaTKTipoIncidencia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaTotalTicket</servlet-name>
        <url-pattern>/ListaTotalTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportarTickets</servlet-name>
        <url-pattern>/ExportarTickets</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
